@import url('https://fonts.googleapis.com/css?family=Indie+Flower|VT323');

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-family: fantasy;
    background-color: rgb(200, 295, 90);
}

canvas {
    /*display: block;*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
}

#Go: hover {
    /*transition: all 0.3s ease 0s;*/
    background-color: #296332;
}

#Go {
    border-style: none;
    margin: auto;
    padding: 0.4em 2.0em;
    background-position: center;
    background-color: #45af34;
    border-radius: 12%;
    font-family: 'VT323', monospace;
    font-size: 1.6em;
}

#text {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    color: rgb(39, 71, 52);
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}

#pause {
    top: 50%;
    left: 6.5%;
    text-align: center;
    position: absolute;
    background-position: center;
    background-color: #45af34;
    border-radius: 12%;
    font-family: 'VT323', monospace;
    border-style: none;
    font-size: 1.2em;
    padding: 0.45em 2.3em;
    display: none;
}

#quit {
  top: 50%;
  right: 6.5%;
  text-align: center;
  position: absolute;
  background-position: center;
  background-color: #45af34;
  border-radius: 12%;
  font-family: 'VT323', monospace;
  border-style: none;
  font-size: 1.2em;
  padding: 0.45em 2.3em;
  display: none;
}
